table {
    border-collapse: collapse;
}

table thead tr {
    align-items: center;
    line-height: 32px;
    height: 32px;
    background-color: #ECEEF1;
}

table thead th {
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
}

table tbody td {
    align-items: center;
    text-align: left;
}

table tr {
    border-bottom: 1px solid #e5e5e5;
    height: 48px;
}

table tr th,
td {
    padding-left: 7px;
    border-right: 1px dashed #c7c7c7;
}

td:last-child {
    display: flex;
    border-right: none;
    background-clip: padding-box;
    position: sticky;
    right: 0;
    z-index: 2;
    height: 50px;
    background: white;
    /* border-left: 1px dashed #c7c7c7; */
}

th:last-child {
    display: flex;
    background-clip: padding-box;
    border-right: none;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    z-index: 2;
    height: 32px;
    background: #ECEEF1;
}
td:first-child {
    display: flex;
    border-right: none;
    position: sticky;
    left: 0;
    z-index: 2;
    background: white;
    border-right: 1px dashed #c7c7c7;
}

th:first-child {
    display: flex;
    border-right: none;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ECEEF1;
    border-right: 1px dashed #c7c7c7;
}
.action {
    /* border-left: 1px dashed #c7c7c7; */
    /* position: absolute; */
}

tbody tr:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}
.border-checkbox-th{
    width: 10px;
    height: 32px;
    /* background-color: red; */
}
.border-checkbox-td{
    width: 10px;
    height: 48px;
    /* background-color: red; */
}
.action{
    justify-content: center;
}
a-menu-item:hover{
    color:greenyellow
}
.edit-text{
    color: #349DFF;
}