.dialog{
    position: fixed;
    background-color: #000;
    opacity: .3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.dialog-model{
    position: fixed;
    background-color: white;
    height: 620px;
    width: 900px;
    top: calc(50% - 310px);
    left: calc(50% - 450px);
}